shapeglot_data.zip
emergent-communication-old/shapeglot_data.zip
data
output
shapeglot/images/*
shapeglot_data/*
shapeglot/vgg_fc7_pt.pkl
emergent-communication-old/data
emergent-communication-old/output
emergent-communication-old/shapeglot/images/*
emergent-communication-old/shapeglot/vgg_fc7_pt.pkl
emergent-communication-old/shapeglot_data/*
emergent-communication-old/images/*
images/*
